---
import { siteConfig } from "../config.js";
---

<section id="education" class="container">
  <h2>Education</h2>
  {siteConfig.education.map(edu => (
    <div class="card">
      <h3>{edu.degree}</h3>
      <p>{edu.school} | {edu.dateRange}</p>
      <ul>
        {edu.achievements.map(a => (
          <li>{a}</li>
        ))}
      </ul>
    </div>
  ))}
</section>
